---
import Base from "../layouts/Base.astro";
const title = "About";
const description = "Why this site exists and how we work.";
---
<Base {title} {description}>
  <article class="card">
    <h1>About</h1>
    <p>We live in France and have been observing Asian Hornets for the last 15 years since they first appeared in our region.
    We aim to share our knowledge so Asian Hornets can be correctly identified and reported in the UK.
    For many years we had bee hives and watched as the Asian Hornets would stalk the bees leaving and entering. 
    We installed hornet guards to protect the hives, and at times, the bees would attack the hornets if the landed.
    Unfortunately, our hives did not survive but we are planning to begin again on a new site.
</p>
  </article>
</Base>
