---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Identification Guide">
  <h1>How to identify the Asian hornet</h1>
  <p>The Asian hornet (Vespa velutina) is an invasive species...</p>
  <img src="/images/asian-hornet.jpg" alt="Asian hornet">
</Layout>
